.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #640D5F;
}
 
.navbar div h3{
    font-family: "Lato", sans-serif;
    color: white;
}
 
.items{
    display: flex;
    align-items: center;
    margin: 0rem 1rem;

}

.items a{
    text-decoration: none;
    color: white;
    margin: 5px;
    size: 0.5rem;
}